.App {
  margin: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid red;
}

.pd-t {
  padding-top: 1rem;
}

.pd-b {
  padding-bottom: 1rem;
}