.App {
  margin: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid red;
}

.pd-t {
  padding-top: 1rem;
}