/* NavBar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s; 
  text-decoration: none;
}

.nav-links a {
  color: #fff;
  transition: color 0.3s; 
  text-decoration: none;
}

.logo a:hover,
.nav-links a:hover {
  color: #ddd;
}

.logo a:active,
.nav-links a:active {
  color: red;
}
