.row {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
