.row {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.item {
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
}

.scatter-graph{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.tree-graph {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 1rem;
}

.tree-graph-container {
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matrics-slider {
  display: flex;
  width: 10%;
  height: 20rem;
  justify-content:center;
  margin: auto;
}

.radio-buttons {
  margin-top: 3rem;
}

.smell-graph {
  margin-top: 3rem;
}