.row {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.item {
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
}

.type-metrics {
  display: flex;
  margin: 0rem 2rem;
}

.radio-buttons{
  width: 20%;
}

.scatter-graph{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}